<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
<div class="container">
    <form id="form" action="/activity/{{api}}/{{activityId}}" method="post">
        활동량 {{api}}하기<br>
        <label for="activityInfoDate">오늘의 날짜를 선택해주세요:</label><br>
        <input type="date" id="activityInfoDate" name="activityInfoDate" value="{{ activity.activityInfoDate }}" required><br><br>
        <input style="width: 200px" type="text" name="activityPlace" placeholder="운동 장소" required/><br>
        <input style="width:200px" type="text" name="activityType" placeholder="운동 종류" required/><br>
        <input style="width:200px" type="number" name="duration" placeholder="운동량" /><br>
        <input style="width:200px" type="number" name="distance" placeholder="거리" /><br>
        <input style="width:200px" type="text" name="calories" placeholder="소비 칼로리" /><br><br>
        <button style="height: 40px; width:200px; background-color: peachpuff" type="submit">활동량 {{api}} </button>
    </form><br><br>
    <form id="form" action="" method="get">
        <button style="width: 60px; background-color: peachpuff" type="button" onclick="location.href='http://localhost:{{port}}'" >홈으로</button>
        <button style="width: 60px; background-color: peachpuff" type="button" onclick="location.href='http://localhost:{{port}}/activity'" >뒤로</button>
    </form><br>
</div>
</body>

</html>