<!DOCTYPE html>
<html>
<head>
    <title>NodeJs: {{title}}</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container">
<h1>건강 식품 정보 {{api}}</h1>
<form action="/healthFood/{{api}}" method="post">
    <label for="healthFoodName">건강 식품 이름:</label>
    <input type="text" id="healthFoodName" name="healthFoodName" required>
    <button type="submit">{{api}}하기</button>
</form>
</div>
</body>
</html>